@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
:root {
  --basic-color: #23cc71;
  --background-color: #0b1a2e;
  --list-background: #172b46;
  --color-text-blue: #86c8fb;
}
.App {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
  background: var(--background-color);
}
.loading-container {
  color: var(--color-text-blue);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
}
.container h1 {
  font-size: 60px;
  text-align: center;
  color: var(--basic-color);
}
